<h1>Messages</h1>

<br />
<%= link_to 'New Message', new_message_path, class: 'btn' %>
<br />
<br />

<table class="table table-hover">
  <tr>
    <th>Whats written</th>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Conversation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.whats_written %></td>
    <td><%= message.sender.name %></td>
    <td><%= message.receiver.name %></td>
    <td><%= message.conversation_id %></td>
    <% if message.receiver == current_user || message.sender == current_user %>
        <% if current_user == message.receiver %>
            <% @reply_id = message.sender.id %>
        <% else %>
            <% @reply_id = message.receiver.id  %>
        <% end %>
    <td><%= link_to 'Reply', new_message_url(receiver_id: @reply_id), class: 'btn' %></td>
    <% end %>
    <td><%= link_to 'Show', message, class: 'btn' %></td>
    <td><%= link_to 'Edit', edit_message_path(message), class: 'btn' %></td>
    <td><%= link_to 'Delete', message, method: :delete, class: 'btn', data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


