<%= form_tag(errands_url, class: 'navbar-search pull-left', method: 'get') do %>
  <%= text_field_tag :search, nil, placeholder: "Search by Errand", class: 'search-query span3'  %>
<% end %>

<br />
<br />
<br />

<h1>Errands</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Location</th>
    <th>Giving user</th>
    <th>Receiving user</th>
    <th>Completed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @errands.each do |errand| %>
  <tr>
    <td><%= errand.name %></td>
    <td><%= errand.description %></td>
    <td><%= errand.price %></td>
    <td><%= errand.location %></td>
    <td><%= errand.giving_user.name %></td>
    <td><%= errand.receiving_user.name %></td>

    <% if errand.completed %>
    <td><%= image_tag("http://www.clker.com/cliparts/e/2/a/d/1206574733930851359Ryan_Taylor_Green_Tick.svg.hi.png", width: 25) %></td>
    <% else %>
    <td>  </td>
    <% end %>


    <td><%= link_to 'Show', errand %></td>
    <td><%= link_to 'Edit', edit_errand_path(errand) %></td>
    <td><%= link_to 'Destroy', errand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Errand', new_errand_path %>
