<h1>Listing item_transactions</h1>

<table>
  <tr>
    <th>Owner user</th>
    <th>Borrower user</th>
    <th>Rate</th>
    <th>Days</th>
    <th>Borrow date</th>
    <th>Return date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_transactions.each do |item_transaction| %>
  <tr>
    <td><%= item_transaction.owner_user_id %></td>
    <td><%= item_transaction.borrower_user_id %></td>
    <td><%= item_transaction.rate %></td>
    <td><%= item_transaction.days %></td>
    <td><%= item_transaction.borrow_date %></td>
    <td><%= item_transaction.return_date %></td>
    <td><%= link_to 'Show', item_transaction %></td>
    <td><%= link_to 'Edit', edit_item_transaction_path(item_transaction) %></td>
    <td><%= link_to 'Destroy', item_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item transaction', new_item_transaction_path %>
