<%= form_tag(users_url, class: 'navbar-search pull-left', method: 'get') do %>
  <%= text_field_tag :search, nil, placeholder: "Search by User", class: 'search-query span3'  %>
<% end %>

<br />
<br />
<br />

<h1>Users</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Photo</th>
    <th>Address</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= image_tag user.photo, :width => 100 %></td>
    <td><%= user.address %></td>
    <td><%= user.email %></td>
    <% if user != current_user %>
    <td><%= link_to 'Message', new_message_url(receiver_id: user.id), class: 'btn' %></td>
    <% end %>
    <td><%= link_to 'Show', user, class: 'btn' %></td>
    <td><%= link_to 'Edit', edit_user_path(user), class: 'btn'  %></td>
    <td><%= link_to 'Delete', user, class: 'btn', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


