<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn' %> |
<%= link_to 'Back', users_path, class: 'btn' %>

<br />
<br />

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag @user.photo, :width => 100 %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Sent Messages:</b><br />
  <% @user.sent_messages.each do |sent_message| %>
    Sent to:   <%= sent_message.receiver.name %>
    <li><%= sent_message.whats_written %></li>
  <% end %>

</p>

<p>
  <b>Received Messages:</b><br />
  <% @user.received_messages.each do |received_message| %>
    Sent from:   <%= received_message.sender.name %>
    <li><%= received_message.whats_written %></li>
  <% end %>

</p>





