<%= form_for(@shared_item) do |f| %>
  <% if @shared_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shared_item.errors.count, "error") %> prohibited this shared_item from being saved:</h2>

      <ul>
      <% @shared_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :available %><br />
    <%= f.check_box :available %>
  </div>
  <div class="field">
    <%= f.label :owner_user_id %><br />
    <%= f.collection_select :owner_user_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :borrower_user_id %><br />
    <%= f.collection_select :borrower_user_id, User.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
